body {
  background-color: #e0ece4;
  color: #797a7e;
}

form {
  padding-top: 50px;
}

h1 {
  color: #797a7e;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

hr {
    border-color: #d8d3cd;
    border-style: dotted none none;
    height: 0;
    width: 10%;
    border-width: 8px;
 }

p, h5 {
  text-align: center;
}

.form-control, #name {
  appearance: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color: #f7f2e7;
  color: #797a7e;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #f7f2e7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #797a7e;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #797a7e;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #797a7e;
}


.jumbotron {
  margin-top: 30px;
  background-color: #f7f2e7;
}

.btn {
  text-align: center;
}

.card {
  background-color: #f7f2e7;
  margin-bottom: 30px;
}

.card-img-top {
  width: 25%;
  height: auto; 
}

.footer {
  text-align: center;
  background-color: #797a7e;
  color: #f7f2e7;
  padding-top: 30px;
  padding-bottom: 30px;
}

#os-question {
  text-align: left;
}

#css, #swift, #ruby, #c-sharp{
  display: none;
}

img, #answer {
  padding-top: 30px;
}