body {
  background-color: #e0ece4;
  color: #797a7e;
}

form {
  padding-top: 50px;
}

h1 {
  color: #d8d3cd;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

p, h5 {
  text-align: center;
}


.card-img-top {
  width: 25%;
  height: auto; 
}

#css, #swift, #ruby {
  display: none;
}

#answer {
  padding-top: 30px;
}