body {
  background-color: #e0ece4;
  color: #797a7e;
}

form {
  padding-top: 50px;
}

h1 {
  color: #797a7e;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.interests {
  background-color: #e0ece4;
}


p, h5 {
  text-align: center;
}

.btn {
  text-align: center;
}

.card-img-top {
  width: 25%;
  height: auto; 
}

#os-question {
  text-align: left;
}

#css, #swift, #ruby, #c-sharp{
  display: none;
}

img, #answer {
  padding-top: 30px;
}